:root {
  /* font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:  'Fuzzy Bubbles', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* background-color: #242424; */

 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

